<!--
/*
 * LiskHQ/lisk-explorer
 * Copyright © 2018 Lisk Foundation
 *
 * See the LICENSE file at the top-level directory of this distribution
 * for licensing information.
 *
 * Unless otherwise agreed in a custom licensing agreement with the Lisk Foundation,
 * no part of this software, including this file, may be copied, modified,
 * propagated, or distributed except according to the terms contained in the
 * LICENSE file.
 *
 * Removal or modification of this copyright notice is prohibited.
 *
 */
-->
<div class="navbar navbar-default navbar-fixed-top" role='navigation'>
	<nav class="main-header">
		<div class="container fadein">
			<div id="header" role="navigation" class="navbar navbar-default">
				<div class="logo-wrapper">
					<a href="/">
						<figure class="logo" title="RISE">
							<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 96">
								<metadata><?xpacket begin="﻿" id="W5M0MpCehiHzreSzNTczkc9d"?>
									<x:xmpmeta xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01        ">
										<rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
											<rdf:Description rdf:about=""/>
										</rdf:RDF>
									</x:xmpmeta>
									<?xpacket end="w"?></metadata>
								<defs>
									<style>
										.cls-1 {
											fill: #e53c54;
										}

										.cls-1, .cls-2, .cls-3 {
											fill-rule: evenodd;
										}

										.cls-2 {
											fill: #f49352;
										}

										.cls-3 {
											fill: #3ebb90;
										}

										.cls-4 {
											fill: #3e99d3;
										}

										.cls-5 {
											fill: #8352a1;
										}
									</style>
								</defs>
								<path id="Rounded_Rectangle_1" data-name="Rounded Rectangle 1" class="cls-1" d="M4.195,27.934L37.307,2.5c3.4-2.608,8.042-2.259,10.377.781S49.158,10.9,45.762,13.51L12.649,38.942c-3.4,2.608-8.042,2.259-10.377-.781S0.8,30.543,4.195,27.934Z"/>
								<path id="Rounded_Rectangle_1_copy" data-name="Rounded Rectangle 1 copy" class="cls-2" d="M4.195,54.934L37.307,29.5c3.4-2.609,8.042-2.259,10.377.781S49.158,37.9,45.762,40.51L12.649,65.942c-3.4,2.608-8.042,2.259-10.377-.781S0.8,57.543,4.195,54.934Z"/>
								<path id="Rounded_Rectangle_1_copy_2" data-name="Rounded Rectangle 1 copy 2" class="cls-3" d="M4.195,82.934L37.307,57.5c3.4-2.608,8.042-2.259,10.377.781S49.158,65.9,45.762,68.51L12.649,93.942c-3.4,2.608-8.042,2.259-10.377-.781S0.8,85.543,4.195,82.934Z"/>
								<circle class="cls-4" cx="42" cy="88" r="8"/>
								<circle id="Ellipse_1_copy" data-name="Ellipse 1 copy" class="cls-5" cx="8" cy="8" r="8"/>
							</svg>
						</figure>
						<span class="nethash text-center" ng-if="showNethash(blockStatus.nethash | nethash)">{{blockStatus.nethash | nethash}}</span>
					</a>
				</div>
				<span class="hidden-xs">
					<button type="button" class="navbar-toggle" data-ng-click="$root.isCollapsed = !$root.isCollapsed">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<search class="visible-xs mobile-search" mobile-view="true" />
					<div class="navbar-collapse main-menu" data-ng-class="{collapse: $root.isCollapsed}">
						<ul class="nav navbar-nav navbar-right">
							<currency-selector />
							<navigation-dropdown />
						</ul>
					</div>
				</span>
				<span class="visible-xs">
					<button type="button" class="navbar-toggle" data-ng-click="$root.isCollapsed = !$root.isCollapsed">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<search class="visible-xs mobile-search" mobile-view="true" />
					<div class="navbar-collapse main-menu mobile-menu" data-ng-class="{collapse: $root.isCollapsed}">
						<ul class="nav navbar-nav navbar-right">
							<navigation-dropdown />
							<currency-selector />
							<!-- <rounding-selector /> -->
						</ul>
					</div>
				</span>
				<search class="hidden-xs desktop-search" />
			</div>
		</div>
	</nav>
	<nav class="network-status">
		<div class="container fadein" data-ng-show="blockStatus">
			<div class="flex-container">
				<span class="height"><b>Height:</b> {{blockStatus.height | number:0}}</span>
				<span class="supply"><b>Supply:</b> {{blockStatus.supply | lisk | number:0}}</span>
				<span class="lisk-btc"><b>RISE/BTC:</b> {{(currency.tickers.RISE.BTC | number:8 )|| 'N/A' }}</span>
				<span class="lisk-usd"><b>RISE/{{currency.tickers.RISE[currency.symbol] && currency.symbol !== 'BTC' ? currency.symbol : 'USD'}}:</b> {{currency.tickers.RISE[currency.symbol] && currency.symbol !== 'BTC' ? (currency.tickers.RISE[currency.symbol] | number:4) : (currency.tickers.RISE.USD | number:4) || 'N/A'}}</span>
			</div>
		</div>
	</nav>
</div>
